<div class="container">

  <div class="jumbotron hero-spacer">
    <h1>Welcome to Donator!</h1>
    <p>Want to create random donations?</p>
    <% unless user_signed_in? %>
      <p><%= link_to "Join now!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
    <% else %>
      <p><%= link_to "Donate an Item", new_item_path, class: "btn btn-primary btn-large btn-block" %></p>
      <p><%= link_to "Donate a Voucher", new_voucher_path, class: "btn btn-success btn-large btn-block" %></p>
      <p><%= link_to "Donate an Experience", new_experience_path, class: "btn btn-danger btn-large btn-block" %></p>
    <% end %>
  </div>
  
  <hr>
  
</div><!-- /.container -->